.right
    padding-inline: 4vh
    width: 45vw 
    ul 
        
        li
            
            list-style: none
        
    h3
       
        font-family: "satisfy" 
.SecondSection
    
    background: #fffaf3 
