.EventsSection
    
    background-image: url(../img/events-bg.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    padding-bottom: 15vh 
    position: relative
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.47)  


.titre-events
    h1
        margin: 0px
        padding: 5vh 
        font-family: "satisfy"
        font-weight: bold


.carousel-caption
    h5
        font-weight: bold
        font-family: "satisfy"
    h4
        
        font-weight: bold
    p
        margin: 0
   
    ul
        padding-left: 0rem
        li
            list-style: none



.titre-contact
    padding-bottom: 3vh  


    h1
        font-family: "satisfy"
    p
        text-align: center 
        width: 55vw  
        margin: 0px 
.eventsContact
    padding-bottom: 10vh        
.content
    padding: 3vh 4vh
    form
        box-shadow: 0 4px 8px 0 rgb(0,0 ,0,0.19 )
        padding: 3vh 2vw
        display: flex
        flex-direction: column 
        gap: 2vh
    .content-contact
        display: flex
        gap: 2vh
        input
            width: 33vw
            padding: 7px 7px
textarea
    padding: 4vh 1vw
    width: 100%

.btn-card
    text-align: center
    margin: auto
    width: 12vw
    color: white 
    background: #f89500 
    border: none 
    padding: 1vh 1vh
    border-radius: 25px



   
